:root {
  --color-bg-dark: #000000;
  --color-bg: #232323;
  --color-text: #ffffff;
}

.logo {
  width: 150px;
  height: 50px;
  object-fit: contain;
}

.container{
  width: 85%;
  margin: 20px auto;
}

